body {
  &.light-theme {
    @import 'light-theme-variables';
    @import '~bootstrap-sass/assets/stylesheets/bootstrap';
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f6f8+0,d8e1e7+50,e0eff9+100 */
    background: rgb(242,246,248); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(224,239,249,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(224,239,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(224,239,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 ); /* IE6-9 */
    .article {
      background-color: #f8f8f8;
      /*background-color: #f7efaba6;*/
      border: 1px solid #d1bf1ca3;
      border-radius: 0.75em;
      margin: 0.5em;
    }
    .lds-ellipsis {
      div {
        background: $brand-info;
      }
    }
  }
}