$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;

body, html {
  font-family: 'Open Sans', sans-serif;
}
.article {
  padding: 0;
  overflow: hidden;
  float: left;
  flex-direction: column;
  width: 100%;
  img{
    width: 60%;
  }
  .highlight {
    padding: 2px 2px;
    background: #a8a8749c;
    color: black;
    margin: -2px -2px;
  }
}
.navbar .container {
  width: 100%!important;
}
.read-more-btn a {
  text-decoration: none!important;
  color: white!important;
  text-decoration: none;
  font-size: 16px;
}
.description{
  padding: 1em 0 0.5em;
}

.theme-btns {
  margin-top: 0.5em;
  margin-bottom: 0.3em;
}
#menu-st{
  //min-height: 60px;
  @media (min-width: $screen-lg-min) {
    .navbar-collapse.collapse {
      display: flex !important;
      align-items: center;
      justify-content: flex-end;
      .navbar-right {
        margin: 0 !important;
        align-items: center;
        display: flex !important;
      }
    }
  }
}

.languages {
  & > a {
    padding-right: 5px;
  }
  span {
    img {
      margin-top: 1px;
    }
    span {
      margin-left: 10px;
      position: relative;
      //top: 3px;
    }
  }
  .dropdown-menu {
    a {
      img {
        margin-right: 10px;
      }
      span {
        top: 2px;
        position: relative;
      }
    }
  }
}
#root {
  min-height: 500px;
}
.sub-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 8px;
  margin-top: -1em;
}

.articles-list {
  min-height: 500px;
}
.navbar-right {
  display: flex;
  align-items: center;
  .glyphicon {
    padding-left: 8px!important;
    position: relative;
    top: 3px!important;
  }
}

@import 'loader';
@import 'dark-theme';
@import 'light-theme';